{{ define "main" }}
<h1>{{ .Title }}</h1>

<div class="monster-grid">
  {{ range sort .Pages ".Params.id" "asc" }}
    {{ $p := . }}
    <div class="monster-card">
      {{ with $p.Params.image }}
        {{ $img := strings.TrimPrefix "/" . }}
        <a href="{{ $p.RelPermalink }}">
          <img src="{{ (print "/" $img) | relURL }}" alt="{{ $p.Title }}">
        </a>
      {{ else }}
        <div class="monster-noimage">No Image</div>
      {{ end }}

      <div class="monster-name">
        <a href="{{ $p.RelPermalink }}">{{ $p.Title }}</a>
      </div>
    </div>
  {{ end }}
</div>
{{ end }}
